@{
    ViewBag.Title = "Index";
}

<h2>Personal Company Info</h2>
<hr />
<div class="row-fluid">
    <div class="col-sm-12">
        <table cellpadding="0" cellspacing="0" border="0"
               class="table table-striped table-bordered center-table"
               id="tableContract">
            <thead>
                <tr>
                    <th> Nazwisko i imię</th>
                    <th> Wiek </th>
                    <th> Pesel </th>
                    <th> Numerów Dowodu Osobistego</th>
                    <th> NIP </th>
                    <th> Data urodzenia</th>
                    <th> Saldo</th>
                    <th> Liczba transakcji</th>
                    <th> Kwota ostatniej transakcji</th>
                    <th> Data ostatniej transakcji</th>
                    <th> Tytuł przelewu</th>
                    <th> Akcje</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/MVCDataTableJqueryBootStrap-ui_3.js"></script>
}